@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Esto asegura que el contenido ocupe el espacio restante */
}

footer {
  margin-top: auto; /* Esto empuja el footer al final */
}
